<style>
    body {
        font-family: Helvetica Neue, Helvetica, Arial;
    }
</style>
<h2>Welcome to Shelloid.</h2>
<h3>Hello <%= name %>,</h3>
<p>Please click on the following link for completing the signup to our invite list.</p>
<a href="<%= url %>"><h2>Click Here</h2></a>
If the above link is not working, please visit the following URL.<br/>
<%= url %><br/><br/>
<b>When you click on the above link, you will be provided with a referral URL. You may share it with your friends and colleagues to get free credit points!</b><br/><br/>
Thank you,<br/>
The Shelloid Team.