<!DOCTYPE html>
<html lang="en">
<head>
    <!--<base href="//s3-us-west-2.amazonaws.com/shelloid-web/public/" />-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Operational Log Intelligence for Shelloid web application server.">
    <meta name="title" content="Operational Log Intelligence for Shelloid web application server.">
    <meta name="author" content="">
    <meta name="keywords"
          content="log management, log intelligence, application log, analytics, web services, Node.JS, web application, application server">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <title>Shelloid</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="js/toast/jquery.toast.css" rel="stylesheet">


    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/toast/jquery.toast.js"></script>

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <style>
        ul.ok {
            list-style-type: none;
            margin-left: 0;
            padding-left: 1em;
        }

        ul.ok li:before {
            font-family: 'FontAwesome';
            content: '\f00c';
            margin: 0 5px 0 -15px;
            color: #008082;
        }

        ul.ok li {
            margin-bottom: 1ex
        }

        .grad {
            /* fallback */
            background-color: #f1f1f1;

            /* Safari 4-5, Chrome 1-9 */
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#f1f1f1));

            /* Safari 5.1, Chrome 10+ */
            background: -webkit-linear-gradient(top, white, #f1f1f1);

            /* Firefox 3.6+ */
            background: -moz-linear-gradient(top, white, #f1f1f1);

            /* IE 10 */
            background: -ms-linear-gradient(top, white, #f1f1f1);

            /* Opera 11.10+ */
            background: -o-linear-gradient(top, white, #f1f1f1);

            background: linear-gradient(top, white, #f1f1f1);
        }

        .stdtxt {
            color: #008082;
            font-size: 14pt
        }

        .sharptxt {
            color: #243842;
        }

        input {
            border-radius: 5px
        }

        ::-webkit-input-placeholder {
            color: #008082;
            font-weight: normal
        }

        :-moz-placeholder {
            /* Firefox 18- */
            color: #008082;
            font-weight: normal
        }

        ::-moz-placeholder {
            /* Firefox 19+ */
            color: #008082;
            font-weight: normal
        }

        :-ms-input-placeholder {
            color: #008082;
        }
    </style>
    <script>
        var JSON = JSON || {};

        JSON.stringify = JSON.stringify || function (obj) {
            var t = typeof (obj);
            if (t != "object" || obj === null) {
                // simple data type
                if (t == "string") obj = '"' + obj + '"';
                return String(obj);
            }
            else {
                // recurse array or object
                var n, v, json = [], arr = (obj && obj.constructor == Array);
                for (n in obj) {
                    v = obj[n];
                    t = typeof(v);
                    if (t == "string") v = '"' + v + '"';
                    else if (t == "object" && v !== null) v = JSON.stringify(v);
                    json.push((arr ? "" : '"' + n + '":') + String(v));
                }
                return (arr ? "[" : "{") + String(json) + (arr ? "]" : "}");
            }
        };

        function showToast(msg) {
            //type: danger info success
            var options = {duration: 3000, sticky: false, type: "info"};
            $.toast(msg, options);
        }
    </script>
</head>
<!--/head-->
<body class="grad">
<br/>
<center>

    <!--<font style="color:#3f6bb0;font-size:34pt;text-shadow: 2px 2px 8px #3f6bb0;font-weight:500">Shelloid</font><br/>
    <div style="font-size:34pt;font-weight:500;color:#3f6bb0;text-shadow: 0px 2px 3px #4f7bc0;">Shelloid</div>-->
    <img src="images/shelloid-logo-transparent.png">
</center>
<br/>

<div style="color:black;text-align:center">
    <h2>
        Thank you for signing up to our invite list.
    </h2>
    <h4>Your email id is confirmed.</h4><br/>
    <h4>Please share the URL displayed below with your friends and colleagues. For every signup via this URL you will earn credit points!</h4>
    <h4><%= url %></h4>
	<h4><a id="tweetlink" target="_new" href="https://twitter.com/intent/tweet"><i class="fa fa-twitter"></i> Tweet this!</a></h4>
	<script>
	$(function(){
		txt = "Boost your development productivity with open, extensible Node.js application stack Shelloid @ " + "<%=url%>";
		$("#tweetlink").attr("href", "https://twitter.com/intent/tweet?text=" + encodeURIComponent(txt));
	});
	</script>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</body>
</html>
