<style>
    body {
        font-family: Helvetica Neue, Helvetica, Arial;
        text-align: center;
    }
</style>
<h2>Thank you for signing up to our invite list.</h2>
<h3>Your email id is confirmed.</h3>

<p>
Please share the URL displayed below with your friends and colleagues. For every signup via this URL you will earn credit points!
</p>
<%= url %>
<br/><br/>
Regards,
<br/>
The Shelloid Team